body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cadastro-container{
    margin-top: 25%;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo a{
    font-size: 24px;
    color: #4CAF50;
}

.login-header {
    text-align: center;
    margin-bottom: 25px;
}

.login-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.login-header p {
    color: #666;
    margin-top: 8px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #444;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.remember-me input {
    margin-right: 6px;
}

.forgot-password a {
    color: #4CAF50;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.cadastro-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.register-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: #f44336;
    text-align: center;
    margin-bottom: 20px;
}
